# Homework 02

# Table of Contents

* [first lambda](#first-lambda)
* [second lambda](#second-lambda)

# Part 1

### first-lambda

In [1]:
import csv

with open("occupations-truncated.csv", "r") as f:
    next(f)
    data = csv.reader(f, delimiter = ',')
    new_data = [(i[1], i[4][1:].replace(',', '')) for i in data if i[2] == 'detail' and ('computer' in i[1] or 'Computer' in i[1] or 'data' in i[1] or 'Data' in i[1])]
    print(min(new_data, key=lambda x: int(x[1])), max(new_data, key=lambda x: int(x[1])))

('Data Entry Keyers', '35850') ('Computer and Information Systems Managers', '161730')

# Part 3
### Preparation: import nelta and read the csv file

In [2]:
import nelta as nt
data = nt.read_csv("occupations-truncated.csv")

### Q1

In [3]:
print(data.shape())

(1034, 5)

### Q2

In [4]:
print(data.columns)

['Occupation code', 'Occupation title', 'Level', 'Employment', 'Annual mean wage']

### Q3

In [5]:
print(data.head(4))

    Occupation code         Occupation title    Level    Employment   Annual mean wage
0           00-0000          All Occupations    total   139099570.0            $56,310
1           11-0000   Management Occupations    major     7947300.0           $126,480
2           11-1000           Top Executives    minor     2601070.0           $129,920
3           11-1011         Chief Executives   detail      202360.0           $197,840

### Q4

In [6]:
last_four = data.tail(4)

### Q5

In [7]:
print(last_four["Employment"])

1030 12050.0
1031 120850.0
1032 12610.0
1033 26300.0

### Q6

In [8]:
for val in last_four["Employment"]:
    print(val)

12050.0
120850.0
12610.0
26300.0

### Q7

In [9]:
print(last_four[["Occupation title", "Employment"]])

                                Occupation title   Employment
1030                            Wellhead Pumpers      12050.0
1031   Refuse and Recyclable Material Collectors     120850.0
1032           Tank Car, Truck, and Ship Loaders      12610.0
1033          Material Moving Workers, All Other      26300.0

### Q8

In [10]:
col_list = []
for i in data.values:
    col_list.append(i[2] == 'detail')
details = data[col_list]

### Q9

In [11]:
print(len(details.index))

772

### Q10

In [12]:
my_filter = details["Employment"] < 500

### Q11

In [13]:
print(type(my_filter))

<class 'nelta.LabeledList'>

### Q12

In [14]:
print(my_filter[3])

False

### Q13, Q14

In [15]:
rare_occ = details[my_filter]
print(rare_occ)

      Occupation code           Occupation title    Level   Employment   Annual mean wage
508           35-2013   Cooks, Private Household   detail        320.0            $46,810
916           51-7032        Patternmakers, Wood   detail        190.0            $60,750

### Q15

### second-lambda

In [16]:
print(rare_occ["Occupation title"].map(lambda x: x.upper()))

508 COOKS, PRIVATE HOUSEHOLD
916 PATTERNMAKERS, WOOD

### Q16

In [17]:
another_filter = [int(i[1:].replace(',', '')) > 200000 for i in data["Annual mean wage"].values]
print(data[another_filter])

      Occupation code                                Occupation title    Level   Employment   Annual mean wage
383           29-1022                 Oral and Maxillofacial Surgeons   detail       4120.0           $234,990
384           29-1023                                   Orthodontists   detail       5040.0           $237,990
385           29-1024                                 Prosthodontists   detail        530.0           $214,870
407           29-1211                               Anesthesiologists   detail      28590.0           $271,440
408           29-1215                      Family Medicine Physicians   detail      98590.0           $214,370
409           29-1216            General Internal Medicine Physicians   detail      50600.0           $210,960
410           29-1218                 Obstetricians and Gynecologists   detail      18900.0           $239,120
412           29-1223                                   Psychiatrists   detail      25540.0           $217,100
413           29-1228   Physicians, All Other; and Ophthalmologist...   detail     375390.0           $218,850
414           29-1248               Surgeons, Except Ophthalmologists   detail      37900.0           $251,650